{% paginate collection.products by section.settings.range_num %}
  {% for product in collection.products %}
    {% if product.featured_image %}
      <img src="{{ product.featured_image | img_url: 'medium' }}" alt="{{ product.featured_image.alt }}">
    {% endif %}

    <span>{{ product.vendor }}</span>

    <a href="{{ product.url }}">{{ product.title }}</a>

    <p>{{ product.price | money }}</p>
  {% else %}
    <p>There are no products inside of this collection</p>
  {% endfor %}

  {% render 'pagination', paginate: paginate %}
{% endpaginate %}

{% schema %}
{
  "name": "Pagination Range",
  "settings": [
    {
      "type": "range",
      "id": "range_num",
      "label": "Sellect the range",
      "default": 2,
      "min": 2,
      "max": 6
    }
  ]
}
{% endschema %}
